body{
  background-color: #F5F5F5;
  position: relative;
  height: 100%;
  color: #1c3150;
}
html{
  font-size: 18px;
}

.bold{
  font-weight: 500;
}
.navy{
  background-color: #1c3150;
}
.white{
  color: #F5F5F5;
}
.gray-font{
  color: #cbd6da;
}
a{
  color: #1c3150;
}
                /* container */
/* .container{
  display: flex;
  /* flex-direction: row; 
} */

.nav-comp{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 95px;
  margin-right: 65px;
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 45px;
}
.bk1{
  position: absolute;
  top:0;
  left:0;
  width: 50%;
  height: 100vh;
  z-index: -1;
}
.logo{
  position: absolute;
  z-index: 1;
  width: 450px;
  height: 300px;
  top: 25%;
}
.main-txt{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}
.intxt{
  display: flex;
  flex-direction: column;
  padding-top: 125px;
  margin-right: 115px;
  gap: 50px;
  align-items: center;
  width: 415px;
  height: 400px;
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-size{
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 50px;
  font-size: 1rem;
}
.intxt div{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.intxt div span{
  width: 300px;
  text-align: center;
  font-size: 1.2rem;
}

.not-clicked {
  text-decoration: none;
}
.not-clicked:hover{
  text-decoration: underline;
}
.active{
  text-decoration: underline;
}
.welcome{
  position: absolute;
  z-index: 1;
  width: 295px;
  padding-left: 75px;
  padding-top: 75px;
  font-size: 2.5rem;
  text-align: center;
}
.form-input{
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}
.form-input input{
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid #cbd6da; 
  background-color: #F5F5F5;
  font-size: 1.5rem;
}
.form{
  display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-right: 180px;
    padding-top: 90px;
    gap: 35px;
}
.form-link{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.display-img{
  display: none;
  z-index: 1;
}
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust as needed */
  align-items: center; /* Adjust as needed */
}
.svg{
  width: 150px;
  height: 125px;
}
.gray-circle{
  background-color: #cbd6da;
  border-radius: 50%;
  position: absolute;
  top: 145px;
  right: 258px;
  width: 180px;
  height: 180px;
  z-index: -1;
}
.create-acc{
  position: absolute;
  z-index: 1;
  width: 295px;
  font-size: 2.5rem;
  text-align: center;
  top: 212px;
  left: 115px;
  font-size: 4rem;
}
.sign-in-span{
  font-size: 2rem;
}