body{
  background-color: #F5F5F5;
  position: relative;
  height: 100%;
  color: #1c3150;
}
html{
  font-size: 18px;
}

.bold{
  font-weight: 500;
}
.navy-bk{
  background-color: #1c3150;
}
.white-font{
  color: #F5F5F5;
}
.gray-font{
  color: #cbd6da;
}
.gray-bk{
  background-color: #cbd6da;
}
.centered-card{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  font-size: 1.2rem;
}
a{
  color: #1c3150;
}
                /* container */
/* .container{
  display: flex;
  /* flex-direction: row; 
} */

.nav-comp{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 95px;
  margin-right: 65px;
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 45px;
}
.bk1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}
.logo {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 400px;
  top: 27%;
  object-fit: cover;
  left: 9%;
}
.main-txt{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}
.intxt {
  display: flex;
  flex-direction: column;
  padding-top: 175px;
  margin-right: 115px;
  gap: 50px;
  align-items: center;
  width: 415px;
  height: 400px;
}
.text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-txt-center{
  width: 345px;
  text-align: center;
}
.aboutus-txt-center {
  width: 430px;
  text-align: center;
}
.button-size{
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 50px;
}
.button-size-std{
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 40px;
  font-size: 1rem;
}
.intxt div{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.not-clicked {
  text-decoration: none;
}
.not-clicked:hover{
  text-decoration: underline;
}
.active{
  text-decoration: underline;
}
.welcome{
  position: absolute;
  z-index: 1;
  width: 295px;
  padding-left: 75px;
  padding-top: 75px;
  font-size: 2.5rem;
  text-align: center;
}
.form-input{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 175px;
}
.form-input input{
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid #cbd6da; 
  background-color: #F5F5F5;
  font-size: 1.5rem;
}
.form{
  display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-right: 180px;
    gap: 12px;
}
.form-link{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.display-img{
  display: none;
  z-index: 1;
}
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust as needed */
  align-items: center; /* Adjust as needed */
}
.svg{
  width: 90px;
  height: 90px;
  padding-left: 17px;
  padding-top: 13px;
}
.gray-circle{
  background-color: #cbd6da;
  border-radius: 50%;
  width: 125px;
  height: 125px;
}
.create-acc{
  position: absolute;
  z-index: 1;
  width: 295px;
  font-size: 2.5rem;
  text-align: center;
  top: 212px;
  left: 115px;
  font-size: 4rem;
}
.sign-in-span{
  font-size: 2rem;
}
.nav-std{
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 3%;
padding-left: 1%;
box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.nav-std-logo {
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.centered-nav-title{
  height: 35px;
  margin-top: 42px;
  padding-top: 5px;
  font-size: 1.5rem;
}
.search-std {
  height: 35px;
  margin-top: 42px;
  width: 500px;
  border-radius: 45px;
  padding-left: 20px;
  padding-top: 5px;
 border: none;

}

.icon-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:50px;
}
.icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

}
.icons svg{
  width: 30px;
}
.icons span{
  font-size: .9rem;
}

.card1{
  margin-top: 45px;
  width: 70%;
  height: 20vw;
}
.card1-comp {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 30px;
  padding-top: 30px;
}
.large-img{
  width: 165px;
  height: 165px;
  border-radius: 50%;
  object-fit: cover;
}
.card2{
  margin-top: 45px;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
}
.std-acc-comp{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgbk-size{
  width: 100%;
  border-radius: 45px;
  height: 350px;
  object-fit: cover;
}
.std-txt-left{
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  gap: 20px;
}
.std-btn-name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 620px;
  padding-top: 20px;
}
.txt-std-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.std-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}
.std-circle{
  border-radius: 50%;
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.skill-comp{
  display: flex;
  flex-direction: column;
  width: 850px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.skill-comp span{
  font-size: 2rem;
}
.skill-comp p{
  padding-left:'50px'
}
.pdf-circle{
  border-style: solid;
  border-color: #1c3150;
  border-width: 7px;
  border-radius: 50%;
  left: 500px;
  width: 170px;
  height: 170px;
  z-index: 0;
  bottom: 30px;
  display: flex;
  align-items: center;
  margin: auto;;
}
.svg-left{
  padding-left: 51%;
}
.contact-comp{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 30px;
  padding-top: 30px;
  gap: 30px;
}
.contact-comp{
  font-size: 1.5rem;
}
.std-info{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.std-info div{
  display: flex;
  flex-direction: column;
}
.std-span-info{
  font-size: 1rem;
}
.std-images{
  position: relative;
  width: 850px;
  height: 350px;
}
.std-profile{
  position: absolute;
  bottom: -80px;
  left: 15px;
  object-fit: cover;
}
.svg-circle{
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0px;
  left: 90px;
  background-color: #cbd6da;
  border-radius: 50%;
  border-style: solid;
  border-color: #1c3150;
}
.svg-circle svg{
  width: 30px;
  height: 30px;
  padding-left: 5px;
  padding-top: 4px;
}
.std-cover{
  position: absolute;
  bottom: -80px;
  left: 15px;
  width: 850px;
  height: 350px;
}
.svg-circle-cover{
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: -20px;
  right: 80px;
  background-color: #cbd6da;
  border-radius: 50%;
  border-style: solid;
  border-color: #1c3150;
}
.svg-circle-cover svg{
  padding-left: 11px;
  padding-top: 9px 
}
.std-bio{
  height: 70px;
  background-color: #ddeaee;
  font-size: 1rem;
}
.std-skill{
  height: 200px;
  background-color: #ddeaee;
  font-size: 1rem;
}
.std-data{
  height: 35px;
  background-color: #ddeaee;
  font-size: 1rem;
  width: 350px;
}
.std-comp-post{
  display:flex;
  flex-direction:column;
  gap:30px;
}
.card1-comp-acc-post {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 64px;
  align-items: center;
  padding-left: 100px;
}
.std-comp-post-place{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card1:hover{
  box-shadow:  0 2px 4px 0 rgba(0,0,0,.2);

}
