body{
  background-color: #F5F5F5;
  position: relative;
  height: 100%;
  color: #1c3150;
}
html{
  font-size: 18px;
}
a{
  text-decoration: none;
}


/* ********* display none ********* */

.diplay-none-disktop-sm-bk1{
  display: none;
}
.menu-sandwich{
  display: none;
}
.menu-bk{
  display: none;
}

/* end of display none */

.wd40{
  width: 40px;
}
.wd35{
  width: 35px;
}
.wd25{
  width: 25px;
}
.he40{
  height: 40px;
}
.he25{
  height: 25px;
}

.bold{
  font-weight: 500;
}
.navy-bk{
  background-color: #1c3150;
}
.white-font{
  color: #F5F5F5;
}
.white-bk{
  background-color: #F5F5F5;
}
.gray-font{
  color: #cbd6da;
}
.gray-bk{
  background-color: #cbd6da;
}
.light-blue-bk{
  background-color: #ddeaee;
}
.under-line{
  text-decoration: underline;
}
.centered-card{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  font-size: 1.2rem;
}
a{
  color: #1c3150;
}
.super{
  font-size: 1.5rem;   
}
.font-super {
  font-size: 2rem;
}
.font-med{
  font-size: 1.2rem;   
}
.txt-center{
  text-align: center;
}
.centered-header{
  margin: auto;
}
.note-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 40px;
}
.title{
  margin-left: 200px;
  margin-top: 50px;
  font-size: 1.5rem;
}
.app-p{
  width: 80%;
  display: flex;
  flex-direction: column;
}
.nav-comp{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 95px;
  margin-right: 65px;
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 45px;
}
.bk1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}
.logo {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 400px;
  top: 27%;
  object-fit: cover;
  left: 9%;
}
.main-txt{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}
.intxt {
  display: flex;
  flex-direction: column;
  padding-top: 175px;
  margin-right: 115px;
  gap: 50px;
  align-items: center;
  width: 26%;
  height: 400px;
}
.text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-txt-center{
  width: 80%;
  text-align: center;
}
.aboutus-txt-center {
  width: 430px;
  text-align: center;
}
.button-size{
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 50px;
}
.button-size-std{
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 40px;
  font-size: 1rem;
}
.intxt div{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.not-clicked {
  text-decoration: none;
}
.not-clicked:hover{
  text-decoration: underline;
}
.active{
  text-decoration: underline;
}
.welcome{
  position: absolute;
  z-index: 1;
  width: 295px;
  padding-left: 75px;
  padding-top: 75px;
  font-size: 2.5rem;
  text-align: center;
}
.form-input{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 175px;
}
.form-input input{
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid #cbd6da; 
  background-color: #F5F5F5;
  font-size: 1.5rem;
}
.form1{
  display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-right: 180px;
    gap: 12px;
}
.form2{
  display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-right: 180px;
    gap: 12px;
}
.form-link{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.display-img{
  display: none;
  z-index: 1;
}
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust as needed */
  align-items: center; /* Adjust as needed */
}
.svg{
  width: 90px;
  height: 90px;
  padding-left: 17px;
  padding-top: 13px;
}
.gray-circle{
  background-color: #cbd6da;
  border-radius: 50%;
  width: 125px;
  height: 125px;
}
.create-acc{
  position: absolute;
  z-index: 1;
  width: 295px;
  font-size: 2.5rem;
  text-align: center;
  top: 212px;
  left: 115px;
  font-size: 4rem;
}
.sign-in-span{
  font-size: 2rem;
}
.nav-std{
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 3%;
padding-left: 1%;
box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.nav-std-logo {
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.centered-nav-title{
  height: 35px;
  margin-top: 42px;
  padding-top: 5px;
  font-size: 1.5rem;
}
.search-std {
  height: 35px;
  margin-top: 42px;
  width: 500px;
  border-radius: 45px;
  padding-left: 20px;
  padding-top: 5px;
 border: none;

}

.icon-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:50px;
}
.icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

}
.icons svg{
  width: 30px;
}
.icons span{
  font-size: .9rem;
}
.opacity{
  opacity: 75%;
}
.logo-add{
  width: 150px;
  height: 125px;
}
.card1{
  margin-top: 45px;
  width: 70%;
  height: 20vw;
}
.card1-comp {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 30px;
  padding-top: 30px;
}
.large-img{
  width: 165px;
  height: 165px;
  border-radius: 50%;
  object-fit: cover;
}
.card2{
  margin-top: 45px;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
}
.gap{
  width: 75%;
  margin-top: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:50px;
}
.title{
  margin-left: 200px;
  margin-top: 50px;
  font-size: 1.5rem;
}
.margin-bottom{
  margin-bottom: 50px;
}
.center-place-holder{
  text-align: center;
  font-size: 1.2rem;
}
.left-place-holder{
  padding-left:50px ;
  font-size: 1.2rem;
}
.svg-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
.assign-padding-span{
  padding-left: 10px;
  font-size: 1.5rem;
}
.svg-txt{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.std-acc-comp{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgbk-size{
  width: 100%;
  border-radius: 45px;
  height: 350px;
  object-fit: cover;
}
.std-txt-left{
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  gap: 20px;
}
.std-btn-name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 620px;
  padding-top: 20px;
}
.txt-std-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.txt-std-name p{
  width: 80%;
}
.std-btns-acc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}
.std-btns-edit-acc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}
.std-circle{
  border-radius: 50%;
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.skill-comp{
  display: flex;
  flex-direction: column;
  width: 850px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.skill-comp span{
  font-size: 2rem;
}
.skill-comp p{
  padding-left:'50px'
}
.pdf-circle{
  border-style: solid;
  border-color: #1c3150;
  border-width: 7px;
  border-radius: 50%;
  left: 500px;
  width: 170px;
  height: 170px;
  z-index: 0;
  bottom: 30px;
  display: flex;
  align-items: center;
  margin: auto;;
}
.svg-left{
  padding-left: 51%;
}
.contact-comp {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-bottom: 30px;
  padding-top: 30px;
  gap: 30px;
}
.std-info{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.std-info div{
  display: flex;
  flex-direction: column;
}
.std-images{
  position: relative;
  width: 850px;
  height: 350px;
}
.std-profile{
  position: absolute;
  bottom: -80px;
  left: 15px;
  object-fit: cover;
}
.svg-circle{
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0px;
  left: 90px;
  background-color: #cbd6da;
  border-radius: 50%;
  border-style: solid;
  border-color: #1c3150;
}
.svg-circle svg{
  width: 30px;
  height: 30px;
  padding-left: 5px;
  padding-top: 4px;
}
.std-cover{
  position: absolute;
  bottom: -80px;
  left: 15px;
  width: 850px;
  height: 350px;
}
.svg-circle-cover{
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: -20px;
  right: 80px;
  background-color: #cbd6da;
  border-radius: 50%;
  border-style: solid;
  border-color: #1c3150;
}
.svg-circle-cover svg{
  padding-left: 11px;
  padding-top: 9px 
}
.std-bio{
  height: 70px;
  background-color: #ddeaee;
  font-size: 1rem;
}
.std-skill{
  height: 200px;
  background-color: #ddeaee;
  font-size: 1rem;
}
.std-data{
  height: 35px;
  background-color: #ddeaee;
  font-size: 1rem;
  width: 350px;
}
.std-comp-post{
  display:flex;
  flex-direction:column;
  gap:30px;
}
.card1-comp-acc-post {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 64px;
  align-items: center;
  padding-left: 100px;
}
.std-comp-post-place{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card1:hover{
  box-shadow:  0 2px 4px 0 rgba(0,0,0,.2);

}
.comp-post-name-place {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
}
.button-size-std2{
    border: none;
    border-radius: 45px;
    padding-left: 35px;
    padding-right: 35px;
    width: -moz-fit-content;
    width: fit-content;
    height: 40px;
    font-size: 1.3rem;
    background: none;
    margin-left: 338px;
    color: #1c3150;
    text-decoration: underline;
  }
  .skill-comp p{
    margin-left: 50px;
  }
  .std-post-detail{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 30px;
    align-items: center
  }
  .company-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }
  .company-img2{
    width: 120px;
    height: 120px;;
    border-radius: 50%;
    object-fit: cover;
  }
  .std-report-page{
    display: flex;
    margin-top: 45px;
    margin-left: 245px;
    font-size: 2rem;
  }
  .std-report-header{
    font-size: 1.5rem;
  }
  .std-report-comp{
    display: flex;
    flex-direction: column;
  }
  .std-report-comp p{
    display: flex;
    align-items: center;
    width: 596px;
    padding-left: 250px;
    font-size: 1.4rem;
  }
  .std-report-comp span{
    display: flex;
    justify-content: center;
  }
  .std-circle-super{
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }
  .std-report-images{
    position: relative;
    width: 990px;
    height: 35px;
}
.std-super-profile{
  position: absolute;
  bottom: -75px;
  left: 15px;
  object-fit: cover;
}
.std-txt-left-supervisor{
  display: flex;
  flex-direction: column;
  padding-left: 130px;
  margin-top: -35px;
}
.std-supervisor-name{
  padding-top: 35px;
}
.blue-circle{
  background-color:#1c3150;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.std-notification-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3%;
}
.std-notification-comp{
  display: flex;
  flex-direction: column;
  width: 650px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 1.5rem;
}
.std-new-post{
  font-size: 1.6rem;
}
.std-company-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 102px;
}
.std-post-txt{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.std-apply-btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}
.std-post-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/************ Company ****************/
.form-inputs{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 70%;
}
.sm-input{
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.form-cell{
  border: none;
  border-radius: 35px;
}
.form-cell-sm{
  width: 45%;
  height: 50px;
}
.form-cell-la{
  width: 92%;
  height: 50px;
}
.title-add-super{
  align-self: self-start;
  width: 70%;
  margin: auto;
}
.std-report-comp-m{
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 30px;
}
.comp-post-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.std-comp-post-cont{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 120px;
  gap: 10px;
}
.comp-super-std-info-svg{
  width: 85%;
  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: space-between;
}
.comp-app-btn-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.centerd-comp{
  width: 70%;
  margin: auto;
  margin-top: 45px;
}
.std-report-comp-m p{
  width: 70%;
  padding-left: 120px;
}
.company-post{
  padding-left: 100px;
}
.company-post-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.company-img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.large-card {
  margin-top: 45px;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 70%;
}
.large-card-report{
  margin-top: 45px;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 70%;
}
.std-notification-card {
  margin-top: 45px;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 70%;
}
.comp-assign-button-size {
  border: none;
  border-radius: 20px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 60px;
  font-size: 1.3rem;
}
.comp-icon-super{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.comp-icon-super svg{
  width: 30px;
}
.comp-std-circle {
  border-radius: 50%;
  height: 115px;
  width: 115px;
}
.comp-company-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}
.comp-app-p {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comp-company-post{
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}
.comp-button {
  border: none;
  border-radius: 45px;
  width: fit-content;
  height: 40px;
  font-size: 1.3rem;
  background: none;
  color: #1c3150;
  text-decoration: underline;
}
.comp-btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.comp-profile-txt{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.comp-bio {
  height: 50px;
  background-color: #ddeaee;
  font-size: 1rem;
}
.comp-bio-comp{
  display: flex;
  flex-direction: column;
  width: 850px;
  padding-bottom: 30px;
  padding-top: 30px;
  gap: 20px;
}
.comp-bio-comp span{
  font-size: 1.5rem;
}
.comp-edit-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comp-assign-search-button-size {
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  margin-top: 60px;
}
.comp-button-size {
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 40px;
  margin-left: 110px;
}
.comp-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 250px; */
}
.comp-data{
  height: 250px;
  background-color: #ddeaee;
  font-size: 1rem;
  width: 555px;
}
.modal-bk{
  content: '';
  position: absolute;
  background-color: #CBD6DA;
  opacity: 70%;
  width: 100%;
  height: 42vw;
  top: 130px;
  left: 0px;
 z-index: 0;
}
.contact-box{
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: white;
  z-index: 1;
  margin: auto;
  top: 210px;
  border-radius: 45px;
}
.contact-icons{
  width: 75px;
  height: 75px;
}
.contact-box-comp{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}
.contact-info-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.contact-box-margin{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact-box-comp svg{
  width: 30px;
  position: absolute;
  left: 335px;
  top: 25px;
}
.hidden{
  display: none;
}
.show{
  display: contents;
}
.apply-box-comp{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 105px;
}
.apply-box-comp svg{
  width: 30px;
  position: absolute;
  left: 335px;
  top: 25px;
}
.apply-box-btns{    
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.apply-box {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 1;
  margin: auto;
  top: 250px;
  border-radius: 45px;
}

/***************** Company Supervisor ********************/
.icon-cont-company-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 233px;
}
.compsuper-std-card-container{
  width: 90%;
  display: flex;
  flex-direction: column;
}
.compsuper-std-note {
  padding-left: 230px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 58%;
  text-align: center;
}
.compsuper-std-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:35px;
}


.add-std-btn {
  border: none;
  border-radius: 10px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 50px;
  font-size: 1rem;
  margin-left: 1160px;
  margin-top: 30px;
} 
.txt-compsuper-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.txt-compsuper-name span{
  font-size: 1.5rem;
}
.compsuper-txt-left {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  gap: 50px;
}
.card3 {
  margin-top: 45px;
  width: 60%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
}
.contact-comp-super {
  display: flex;
  flex-direction: column;
  width: 850px;
  padding-bottom: 30px;
  padding-top: 30px;
  gap: 30px;
  align-items: flex-start;
  padding-left: 70px;
  font-size: 1.5rem;
}
.centered-title {
  display: flex;
  margin-top: 35px;
  font-size: 1.5rem;
  margin-left: 235px;
}
.search-compsuper-report {
  height: 35px;
  margin-top: 30px;
  width: 500px;
  border-radius: 45px;
  padding-left: 20px;
  padding-top: 5px;
  border: none;
  margin-left: 235px;
}
.compsuper-report{
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}
.compsuper-std-name{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.compsuper-report-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 400px;
}
.compsuper-underline{
  font-size: 1.5rem;
  text-decoration: underline;
}
.compsuper-std-name-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  margin-left: 250px;
  font-size: 1.5rem;
}
.compsuper-std-report-cont {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 450px;
  padding-left: 35px;
}
.compsuper-date{
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center;
}
.compsuper-header-report{
  display: flex;
  flex-direction: row;
  gap: 100px;
  font-size: 1.2em;
  margin: auto
}
.compsuper-report-details{
  display: flex;
  flex-direction: column;
}
.compsuper-report-in-header{
  display: flex;
  flex-direction: row;
  gap: 110px;
  padding-top: 50px;
  justify-content: center;
}
.compsuper-report-topic{
  display: flex;
  flex-direction: column;
}
.compsuper-header-fill-report{
  display: flex;
  flex-direction: row;
  gap: 220px;
  justify-content: center;
  padding-top: 4%;
  font-size: 1.5rem;
}
.date-txt-size {
  border: none;
  border-radius: 45px;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  font-size: 1rem;
}
.compsuper-date-header{
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center;
}
.fill-report-topic{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.fill-report-equipment{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.fill-report-hours{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.compsuper-fill-report-topic{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  font-size: 1.4rem;
  gap: 40px;
}
.topic-txt-size {
  border: none;
  border-radius: 45px;
  height: 175px;
  font-size: 1.5rem;
  width: 220px;
  padding-left: 30px;
}
.software-txt-size {
  border: none;
  border-radius: 45px;
  height: 175px;
  font-size: 1.5rem;
  width: 540px;
  padding-left: 30px;
}
.hours-txt-size {
  border: none;
  border-radius: 45px;
  height: 175px;
  font-size: 1.5rem;
  width: 145px;
  padding-left: 20px;
}
.fill-report-TotalHour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 286px;
  font-size: 1.5rem;
  gap: 65px;
  padding-top: 45px;
}
.TotalHours-txt-size {
  border: none;
  border-radius: 45px;
  height: 80px;
  font-size: 1.3rem;
  width: 140px;
  padding-left: 20px;
}
.report-svg-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30%;
}
.signature-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 445px;
  margin-bottom: 30px;
}

.button-size-report-done {
  border: none;
  border-radius: 20px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 50px;
}

.report-modal-bk {
  content: '';
  position: absolute;
  background-color: #CBD6DA;
  opacity: 70%;
  width: 100%;
  height: 1175px;
  top: 130px;
  left: 0px;
  z-index: 0;
}
.report-apply-box {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 1;
  margin: auto;
  top: 740px;
  border-radius: 45px;
  left: 500px;
}
.report-container{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.report-TotalHour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 70px;
  font-size: 1.5rem;
  gap: 160px;
  padding-top: 60px;
}
.report-signature-cont{
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: center;
  gap: 90px;
}
.signature-file-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.super-std-card {
  display: flex;
  flex-direction: column;
  width: 80%;
}

/************** Student *************/
.card-std-assign{
  margin-top: 35px;
  
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
}
.add-std-spans{
  display: flex;
  flex-direction: column;  
}
.std-info-svg{
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 200px;
  align-items: center; 
}
.std-report-images-m{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.std-report-img-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  padding-left: 180px;
}
.std-com-post-circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.super-srd-card{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.super-std-note{
  padding-left: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  width: 50%;
}
.super-std-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:35px;
}
.uni-std-circle{
  border-radius: 50%;
  height: 90px;
  width: 90px;
  object-fit: cover;
}
.std-checkbox-txt{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.filter-box-Company-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 75px;
  width: 55%;
}
.width-90{
  width: 90%;
}
.filter-box-place-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin-top: 75px;
  width: 50%;
  padding-left: 50px;
}
.filtr-box-place {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 1;
  margin: auto;
  top: 250px;
  border-radius: 45px;
  margin-left: 405px;
}
.filtr-comp-box {
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: white;
    z-index: 1;
    margin: auto;
    top: 250px;
    border-radius: 45px;
    margin-left: 170px;
}
.filter-box-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 75px;
}
.checkbox-size{
  width: 25px;
  height: 30px;
  margin-top: 3px;
}
.search-box-2nav-comp{
    position: absolute;
    width: 565px;
    height: 400px;
    z-index: 1;
    margin: auto;
    top: 85px;
    border-radius: 45px;
    left: 470px;
    background-color: #F5F5F5;
    padding-top: 50px;
}
.search-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    width: 90%;
}
.search-card{
    width: 90%;
    height: 150px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    transition: 200ms ease-in-out;
    margin: auto;
}
.search-box{
    position: absolute;
    width: 565px;
    height: 400px;
    z-index: 1;
    margin: auto;
    top: 85px;
    border-radius: 45px;
    left: 425px;
    background-color: #F5F5F5;
    padding-top: 50px;
}
.notification-title {
  margin-left: 335px;
  margin-top: 50px;
  font-size: 2rem;
}
.std-company-btn-name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.txt-std-company-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  width: 215px;
}
.std-contactus-btn {
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 40px;
  font-size: 1.3rem;
  background: none;
  color: #1c3150;
  text-decoration: underline;
}
.std-company-txt-left {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  gap: 210px;
  align-items: center;
  padding-bottom: 35px;
}
.std-report-status-btn {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: flex-end;
  gap: 90px;
  padding-right: 90px;
}
.std-report-status-box {
  position: absolute;
  width: 730px;
  height: 705px;
  background-color: white;
  z-index: 1;
  margin: auto;
  top: 250px;
  border-radius: 45px;
}
.std-status-box-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-size: 1.4rem;
}
.std-status-box-comp svg{
  width: 30px;
  margin-left: 500px;
}
.std-status-super-images {
  position: relative;
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  gap: 15px;
}
.std-status-profile {
  position: absolute;
  left: 15px;
  object-fit: cover;
}
.std-status-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.std-report-status-comp{
  display: flex;
  flex-direction: column;
  width: 500px;
}
.std-progress-btn-size {
  border: none;
  border-radius: 15px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 50px;
  font-size: 1.2rem;
  margin-left: 315px;
}
.status-modal-bk {
  content: '';
  position: absolute;
  background-color: #CBD6DA;
  opacity: 70%;
  width: 100%;
  height: 850px;
  top: 130px;
  left: 0px;
  z-index: 0;
}
.light-navy-bk{
  background-color: #55667d;  
}
.card3-status {
  margin-top: 45px;
  width: 80%;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
}
/********** Regestration ************/

.reg-input-edit-super{
  height: 50px;
  border: none;
  border-radius: 20px;
  padding-left: 15px;
}
.assign-card {
  width: 93%;
  height: 150px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  transition: 200ms ease-in-out;
}
.comp-search-assign-btn {
  height: 35px;
  width: 500px;
  border-radius: 45px;
  padding-left: 20px;
  padding-top: 5px;
  border: none;
}
.modal-no-bk {
  content: '';
  position: absolute;
  opacity: 70%;
  width: 100%;
  height: 42vw;
  top: 130px;
  left: 0px;
  z-index: 0;
}
.search-box-left-mini {
  position: absolute;
  width: 565px;
  height: 400px;
  z-index: 1;
  margin: auto;
  top: 297px;
  border-radius: 45px;
  left: 225px;
  background-color: #F5F5F5;
  padding-top: 50px;
  border-style: solid;
  border-color: #55667d;
  border-width: 2px;
}
.search-box-left-mini-50 {
  position: absolute;
  width: 565px;
  height: 400px;
  z-index: 1;
  margin: auto;
  top: 230px;
  border-radius: 45px;
  right: 30%;
  background-color: #F5F5F5;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.search-box-none-nav-comp{
    position: absolute;
    width: 565px;
    height: 400px;
    z-index: 1;
    margin: auto;
    top: 85px;
    border-radius: 45px;
    left: 585px;
    background-color: #F5F5F5;
    padding-top: 50px;
}
.reg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 415px;
  width: 40%;
  font-size: 2rem;
  border-radius: 20px;
}
.reg-std-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 275px;
  padding-left: 30px;
}
.reg-std-info-comp{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

}
.reg-std-btn-comp{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
}
.reg-std-cont {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}
.reg-modal-bk {
  position: absolute;
  background-color: #CBD6DA;
  opacity: 70%;
  width: 100%;
  height: 145%;
  top: 130px;
  left: 0px;
  z-index: 0;
}
.reg-apply-box {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 1;
  top: 250px;
  border-radius: 45px;
  margin-left: 250px;
}
.reg-add-std-box {
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: white;
  z-index: 1;
  top: 250px;
  border-radius: 45px;
  margin-left: 445px;
}
.reg-add-std-box-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 105px;
}
.reg-add-std-box-comp svg {
  width: 35px;
  position: absolute;
  left: 590px;
  top: 40px;
}
.reg-upload-comp{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  gap: 70px;
}
.reg-upload-comp svg{
  width: 100px;
}
.reg-button-size {
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  font-size: 1.3rem;
  margin-left: 355px;
}
/************* Uni Super *************/
.supr-std-app-img{
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 90%;
}
.supr-std-app-img{
  font-size: 1.2rem;
}
.supr-std-app{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.uni-sup-std-info-svg {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.links-uni{
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.uni-std-final-report{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: auto;
  width: 90%;
}

.uni-std-report{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.uni-std-img-info{
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.uni-std-report-info{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.uni-super-assign{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-uni-super-notification  {
  margin-top: 45px;
  width: 70%;
  height: 18vw;
}
.uni-super-notification-detail {
  margin-left: 150px;
  text-align: center;
  width: 63%;
}
.uni-super-centered-card {
  display: flex;
  margin: auto;
  justify-content: center;
  border-radius: 45px;
}
.uni-super-std-notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.uni-super-std-card {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 90%;
  gap: 34px;
}
.uni-super-std-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}
.uni-super-signature-cont {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: center;
  gap: 55px;
  align-items: center;
}
.uni-super-upload-sign-box {
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: white;
  z-index: 1;
  top: 250px;
  border-radius: 45px;
}

.card-uni-super-home{
  margin-top: 45px;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
}
.uni-super-title-report{
  display: flex;
  flex-direction: column;
}
.uni-super-search-report {
  height: 35px;
  margin-top: 30px;
  width: 500px;
  border-radius: 45px;
  padding-left: 20px;
  padding-top: 5px;
  border: none;
  
}
/*************** Department ************/
.dep-notification-width{
  width: 110%;
}
.dep-card-super{
  width: 45%;
  height: 250px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  transition: 200ms ease-in-out;
}
.dep-card-super:hover{
  box-shadow:  0 2px 4px 0 rgba(0,0,0,.2);

}
.dep-std-span{
  font-size: 2rem;
}
.warning{
  color: #BC437D;
}
.dep-std-svg{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.dep-std-svg svg{
  width: 40px;
  height: 40px;
}
.dep-uni-sup-container{
  width: 75%;
  margin: auto;
  margin-top: 75px;
}
.dep-uni-sup-card{
  display: flex;
  flex-wrap: wrap; 
  margin-top: 50px;
  justify-content: space-between;
}
.dep-uni-std-span-card{
  margin-top: 70px;
}
.report-title{
  margin-left:200px ;
  font-size: 1.5rem;
}
.search-dep-report{
  height: 35px;
  margin-top: 30px;
  width: 500px;
  border-radius: 45px;
  padding-left: 19px;
  padding-top: 5px;
  border: none;
  margin-left: 200px;
}
.dep-info-card-report{
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}
.dep-report-container{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.dep-header-report{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  font-size: 1.2em;
}
/********* Sub navbar ************/
.sub-navbar{
  display: flex;
  flex-direction: row;   
  gap: 100px;
}
.sub-nav-font{
  font-size: 1.3rem;
}
.sub-nav-cont{
  display: flex;
  align-items: center;
  gap: 10px;
}
/************* Btns ************/
.btn-place{
  margin-left: 155px;
  margin-top: 12px;

}
.std-btns-m{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px ;
  width: 470px;  
}
.button-pos{
  margin-left:500px
}
.add-std-spans-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.form-btns{
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 170px;
}
.btn-link-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.button-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 100px;
}
.button-size-input{
  display: flex;
  align-items: center;
  justify-content: center;
  width:250px ;
  height: 50px;
  border-radius:20px ;
  font-size: 1.2rem;
  border: none;
}
.app-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
}
/************* Modal *************/
.boxs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-around;
  margin: auto;
  height: 84vh;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 40%;
  font-size: 3rem;
  border-radius: 20px;
}
/* *************************************PHONE********************************************** */

@media only screen and (max-width: 600px) {
  /********** Main Page ***********/
  html{

      font-size: 12px;
  }
  .xl-font-super{
      font-size: 3rem;
  }
  .nav-comp{
      display: none;
  }
  .dep-uni-sup-container {
    width: 100%;
    margin: auto;
    margin-top: 75px;
}
.sm-nav-std {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 6%;
  padding-left: 6%;
  box-shadow: 0 2px 6px 0 rgb(0 0 0);
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
  width: 95%;
}
  .intxt {
      display: flex;
      flex-direction: column;
      padding-top: 400px;
      margin-right: 0;
      gap: 18px;
      align-items: center;
      width: 100%;
      height: 400px;
  }
  .wd25{
    width: 15px;
  }
  .he25{
    height: 15px;
  }
  .bk1{
      display: none;
  }
  .logo{
      position: absolute;
      z-index: 1;
      width: 200px;
      height: 200px;
      top: 10%;
      object-fit: cover;
      left: 5%;
    }
  .diplay-none-disktop-sm-bk1{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }
  .menu-sandwich{
      display: block;
      position: absolute;
      z-index: 3;
      width: 40px;
      height: 40px;
      top: 3%;
      object-fit: cover;
      left: 5%;
    }
  .menu-sandwich.active{
      right: 15%;
      left: auto;
  }
  
  .menu-bk{
          display: block;
          position: absolute;
          width: 95%;
          height: 100vh;
          z-index: 2;
  }
  .menu-nav {
      display: flex;
      flex-direction: column;
      margin-top: 140px;
      margin-left: 30px;
      gap: 50px;
  }
  /*********** Sign In ***********/
  .form2 {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      flex-wrap: wrap;
      padding-right: 0px;
      gap: 20px;
      padding-top: 200px;
  }
  .form1 {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      flex-wrap: wrap;
      padding-right: 0px;
      gap: 20px;
      padding-top: 340px;
  }
  .welcome {
      position: absolute;
      z-index: 1;
      width: 125px;
      padding-left: 65px;
      padding-top: 75px;
      font-size: 2.8rem;
      text-align: center;
  }
  .create-acc {
      position: absolute;
      z-index: 1;
      width: 165px;
      font-size: 2.5rem;
      text-align: center;
      top: 45px;
      left: 100px;
      font-size: 3.5rem;
  }
  .form-input {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      padding-top: 15px;
  }
  .form-input {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      padding-top: 15px;
  }
  
  
/* home */
.dep-uni-sup-card {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}
.dep-card-super {
width: 100%;
height: 250px;
border-radius: 45px;
display: flex;
justify-content: center;
transition: 200ms ease-in-out;
}
.comp-post-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;

}

/********** std *********/
.margin-bottom {
  margin-bottom: 20px;
}
.med-margin-bottom-phone{

  margin-bottom: 70px;
}
.large-margin-bottom-phone {
  margin-bottom: 100px;
}
.nav-std {
  display: none;
}
.sub-navbar {
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: center;
  justify-content: center;
}
.std-comp-post-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0px;
  gap: 10px;
}
.comp-post-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  gap: 13px;
}
.std-com-post-circle {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.dep-card-super {
  width: 95%;
  height: 200px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  transition: 200ms ease-in-out;
}

.dep-uni-sup-card {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px;
  justify-content: flex-start;
  padding-bottom: 70px;
  align-items: center;
}

.large-card {
  margin-top: 45px;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 95%;
}
.std-company-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.company-img2 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.std-post-txt {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.std-post-detail {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  align-items: center;
}
.std-apply-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
}

/**************** Std My Account *****************/
.centered-title {
  display: flex;
  margin-top: 105px;
  font-size: 2rem;
  margin-left: 45px;
}
.button-size-std {
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 34px;
  font-size: 1rem;
}
.std-btns-acc {
  display: flex;
  flex-direction: row;
  width: 160px;
  margin-top: -120px;
  margin-right: 14px;
  gap: 4px;
}

.imgbk-size {
  width: 100%;
  border-radius: 45px;
  height: 180px;
  object-fit: cover;
}
.std-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.std-profile {
  position: absolute;
  bottom: -45px;
  left: 20px;
  object-fit: cover;
}
.std-acc-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}
.std-images {
  position: relative;
  width: 330px;
  height: 190px;
}
.std-txt-left {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 58px;
}
.std-btn-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 290px;
  padding-top: 0px;
}
.txt-std-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skill-comp {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 30px;
  padding-top: 30px;
}
.skill-comp p {
  margin-left: 30px;
}
.pdf-circle {
  border-style: solid;
  border-color: #1c3150;
  border-width: 7px;
  border-radius: 50%;
  width: 135px;
  height: 135px;
  z-index: 0;
  display: flex;
  align-items: center;
  margin: auto;
}
.svg {
  width: 80px;
  height: 80px;
  padding-left: 33px;
  padding-top: 13px;
}

/************ Edit Account ***************/
.svg-circle-cover {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 120px;
  right: 35px;
  background-color: #cbd6da;
  border-radius: 50%;
  border-style: solid;
  border-color: #1c3150;
}
.svg-circle-cover svg {
  padding-left: 9px;
  padding-top: 7px;
  width: 30px;
}
.svg-circle {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 6px;
  left: 65px;
  background-color: #cbd6da;
  border-radius: 50%;
  border-style: solid;
  border-color: #1c3150;
}
.svg-circle svg {
  width: 20px;
  height: 20px;
  padding-left: 6px;
  padding-top: 5px;
}
.std-btns-edit-acc {
  display: flex;
  flex-direction: row;
  width: 110px;
  margin-top: -100px;
  margin-right: 14px;
}
.skill-comp {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 30px;
  padding-top: 30px;
  gap: 10px;
}
.std-data {
  height: 35px;
  background-color: #ddeaee;
  font-size: 1rem;
  width: 255px;
}

/************* Std Report ************/
.large-card-report{
  margin-top: 45px;
  height: fit-content;
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 30px;

  width: 95%;
}
.compsuper-header-report {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 1.2em;
  margin: auto;
  align-items: center;
}
.compsuper-date {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
}
.compsuper-fill-report-topic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  font-size: 1rem;
  gap: 0px;
  width: 304px;
}
.fill-report-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 63px;
  width: 185px;
}
.fill-report-equipment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
  width: 445px;
}
.fill-report-hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 78px;
  width: 115px;
}
.report-TotalHour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  font-size: 1.5rem;
  gap: 45px;
  padding-top: 60px;
}
.std-report-status-btn {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: flex-end;
  gap: 90px;
  padding-right: 100px;
}
.std-report-status-box {
  position: absolute;
  width: 350px;
  height: 705px;
  background-color: white;
  z-index: 1;
  margin: auto;
  top: 250px;
  border-radius: 45px;
}
.std-status-box-comp svg {
  width: 30px;
  margin-left: 255px;
}
.card3-status {
  margin-top: 45px;
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
}
.std-report-status-comp {
  display: flex;
  flex-direction: column;
  width: 280px;
}
.std-progress-btn-size {
  border: none;
  border-radius: 15px;
  padding-left: 35px;
  padding-right: 35px;
  width: -moz-fit-content;
  width: fit-content;
  height: 42px;
  font-size: 1.2rem;
  margin-left: 120px;
}
.std-status-circle {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.std-status-super-images {
  position: relative;
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  gap: 15px;
}

/************* Std Notification *************/
.notification-title {
  margin-left: 40px;
  margin-top: 50px;
  font-size: 2rem;
}
.std-notification-comp {
  display: flex;
  flex-direction: column;
  width: 650px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 1.5rem;
  padding-left: 20px;
}
.std-notification-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0%;
}
.blue-circle {
  background-color: #1c3150;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-top: 45px;
}
.std-notification-card {
  margin-top: 45px;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 85%;
}


}