.button-size-std2{
    border: none;
    border-radius: 45px;
    padding-left: 35px;
    padding-right: 35px;
    width: -moz-fit-content;
    width: fit-content;
    height: 40px;
    font-size: 1.3rem;
    background: none;
    margin-left: 338px;
    color: #1c3150;
    text-decoration: underline;
  }
  .skill-comp p{
    margin-left: 50px;
  }
  .std-post-detail{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 30px;
    align-items: center
  }
  .company-img{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    object-fit: cover;
  }
  .company-img2{
    width: 120px;
    height: 120px;;
    border-radius: 50%;
    object-fit: cover;
  }
  .std-report-page{
    display: flex;
    margin-top: 45px;
    margin-left: 245px;
    font-size: 2rem;
  }
  .std-report-header{
    font-size: 1.5rem;
  }
  .std-report-comp{
    display: flex;
    flex-direction: column;
  }
  .std-report-comp p{
    display: flex;
    align-items: center;
    width: 596px;
    padding-left: 250px;
    font-size: 1.4rem;
  }
  .std-report-comp span{
    display: flex;
    justify-content: center;
  }
  .std-circle-super{
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }
  .std-report-images{
    position: relative;
    width: 990px;
    height: 35px;
}
.std-super-profile{
  position: absolute;
  bottom: -75px;
  left: 15px;
  object-fit: cover;
}
.std-txt-left-supervisor{
  display: flex;
  flex-direction: column;
  padding-left: 130px;
  margin-top: -35px;
}
.std-supervisor-name{
  padding-top: 35px;
}
.blue-circle{
  background-color:#1c3150;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 140px;
  margin-left: 150px;
}
.std-notification-container{
  display: flex;
  flex-direction: row;
}
.std-notification-comp{
  display: flex;
  flex-direction: column;
  width: 650px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 1.5rem;
}
.std-new-post{
  font-size: 1.6rem;
}
.std-company-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 102px;
}
.std-post-txt{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.std-apply-btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}
.std-post-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/************ Company ****************/
.comp-icon-super{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.comp-icon-super svg{
  width: 30px;
}
.comp-std-circle {
  border-radius: 50%;
  height: 115px;
  width: 115px;
}
.comp-company-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}
.comp-app-p {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comp-company-post{
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}
.comp-button {
  border: none;
  border-radius: 45px;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  font-size: 1.3rem;
  background: none;
  color: #1c3150;
  text-decoration: underline;
}
.comp-btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.comp-profile-txt{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.comp-bio {
  height: 50px;
  background-color: #ddeaee;
  font-size: 1rem;
}
.comp-bio-comp{
  display: flex;
  flex-direction: column;
  width: 850px;
  padding-bottom: 30px;
  padding-top: 30px;
  gap: 20px;
}
.comp-bio-comp span{
  font-size: 1.5rem;
}
.comp-edit-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comp-button-size {
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  font-size: 1rem;
  margin-left: 110px;
}
.comp-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 250px; */
}
.comp-data{
  height: 250px;
  background-color: #ddeaee;
  font-size: 1rem;
  width: 555px;
}
.modal-bk{
  content: '';
  position: absolute;
  background-color: #CBD6DA;
  opacity: 70%;
  width: 100%;
  height: -webkit-fill-available;
  top: 130px;
  left: 0px;
 z-index: 0;
}
.contact-box{
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: white;
  z-index: 1;
  margin: auto;
  top: 210px;
  border-radius: 45px;
}
.contact-icons{
  width: 75px;
  height: 75px;
}
.contact-box-comp{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}
.contact-info-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.contact-box-margin{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact-box-comp svg{
  width: 30px;
  position: absolute;
  left: 335px;
  top: 25px;
}
.hidden{
  display: none;
}
.show{
  display: contents;
}
.apply-box-comp{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 105px;
}
.apply-box-comp svg{
  width: 30px;
  position: absolute;
  left: 335px;
  top: 25px;
}
.apply-box-btns{    
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.apply-box {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 1;
  margin: auto;
  top: 250px;
  border-radius: 45px;
}

/***************** Company Supervisor ********************/

.compsuper-std-note{
  padding-left: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:25px;
  width: 55%;
}
.compsuper-std-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:35px;
}
.compsuper-std-img span{
  font-size: 1.5rem;
}
.compsuper-std-note p{
  font-size: 1.5rem;
}
.add-std-btn {
  border: none;
  border-radius: 10px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 50px;
  font-size: 1rem;
  margin-left: 1160px;
  margin-top: 30px;
} 
.txt-compsuper-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.txt-compsuper-name span{
  font-size: 1.5rem;
}
.compsuper-txt-left {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  gap: 50px;
}
.card3 {
  margin-top: 45px;
  width: 60%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
}
.contact-comp-super {
  display: flex;
  flex-direction: column;
  width: 850px;
  padding-bottom: 30px;
  padding-top: 30px;
  gap: 30px;
  align-items: flex-start;
  padding-left: 70px;
  font-size: 1.5rem;
}
.centered-title {
  display: flex;
  margin-top: 35px;
  font-size: 1.5rem;
  margin-left: 235px;
}
.search-compsuper-report {
  height: 35px;
  margin-top: 30px;
  width: 500px;
  border-radius: 45px;
  padding-left: 20px;
  padding-top: 5px;
  border: none;
  margin-left: 235px;
}
.compsuper-report{
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}
.compsuper-std-name{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.compsuper-report-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 400px;
}
.compsuper-underline{
  font-size: 1.5rem;
  text-decoration: underline;
}
.compsuper-std-name-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  margin-left: 250px;
  font-size: 1.5rem;
}
.compsuper-std-report-cont{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 450px;
}
.compsuper-date{
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center;
}
.compsuper-header-report{
  display: flex;
  flex-direction: row;
  gap: 220px;
  font-size: 1.2em;
}
.compsuper-report-details{
  display: flex;
  flex-direction: column;
}
.compsuper-report-in-header{
  display: flex;
  flex-direction: row;
  gap: 110px;
  padding-top: 50px;
  justify-content: center;
}
.compsuper-report-topic{
  display: flex;
  flex-direction: column;
}
.compsuper-header-fill-report{
  display: flex;
  flex-direction: row;
  gap: 220px;
  justify-content: center;
  padding-top: 4%;
  font-size: 1.5rem;
}
.date-txt-size {
  border: none;
  border-radius: 45px;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  font-size: 1rem;
}
.compsuper-date-header{
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center;
}
.fill-report-topic{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.compsuper-fill-report-topic{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  font-size: 1.4rem;
  gap: 40px;
}
.topic-txt-size {
  border: none;
  border-radius: 45px;
  height: 175px;
  font-size: 1.5rem;
  width: 220px;
  padding-left: 30px;
}
.software-txt-size {
  border: none;
  border-radius: 45px;
  height: 175px;
  font-size: 1.5rem;
  width: 540px;
  padding-left: 30px;
}
.hours-txt-size {
  border: none;
  border-radius: 45px;
  height: 175px;
  font-size: 1.5rem;
  width: 145px;
  padding-left: 20px;
}
.fill-report-TotalHour{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 208px;
  font-size: 1.5rem;
  gap: 65px;
  padding-top: 45px;
}
.TotalHours-txt-size {
  border: none;
  border-radius: 45px;
  height: 80px;
  font-size: 1.3rem;
  width: 140px;
  padding-left: 20px;
}
.report-svg-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30%;
  padding-top: 3%;
}
.signature-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 445px;
}
.report-modal-bk {
  content: '';
  position: absolute;
  background-color: #CBD6DA;
  opacity: 70%;
  width: 100%;
  height: 1175px;
  top: 130px;
  left: 0px;
  z-index: 0;
}
.report-apply-box {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 1;
  margin: auto;
  top: 740px;
  border-radius: 45px;
  left: 500px;
}
.report-container{
  display: flex;
  flex-direction: column;
}
.report-TotalHour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 70px;
  font-size: 1.5rem;
  gap: 160px;
  padding-top: 60px;
}
.report-signature-cont{
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: center;
  gap: 90px;
}
.signature-file-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.super-std-card {
  display: flex;
  flex-direction: column;
  width: 80%;
}

/************** Student *************/
.notification-title {
  margin-left: 335px;
  margin-top: 50px;
  font-size: 2rem;
}
.std-company-btn-name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.txt-std-company-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  width: 215px;
}
.std-contactus-btn {
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 40px;
  font-size: 1.3rem;
  background: none;
  color: #1c3150;
  text-decoration: underline;
}
.std-company-txt-left {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  gap: 210px;
  align-items: center;
  padding-bottom: 35px;
}
.std-report-status-btn {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: flex-end;
  gap: 90px;
  padding-right: 90px;
}
.std-report-status-box {
  position: absolute;
  width: 730px;
  height: 705px;
  background-color: white;
  z-index: 1;
  margin: auto;
  top: 250px;
  border-radius: 45px;
}
.std-status-box-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-size: 1.4rem;
}
.std-status-box-comp svg{
  width: 30px;
  margin-left: 500px;
}
.std-status-super-images {
  position: relative;
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  gap: 15px;
}
.std-status-profile {
  position: absolute;
  left: 15px;
  object-fit: cover;
}
.std-status-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.std-report-status-comp{
  display: flex;
  flex-direction: column;
  width: 500px;
}
.std-progress-btn-size {
  border: none;
  border-radius: 15px;
  padding-left: 35px;
  padding-right: 35px;
  width: fit-content;
  height: 50px;
  font-size: 1.2rem;
  margin-left: 315px;
}
.status-modal-bk {
  content: '';
  position: absolute;
  background-color: #CBD6DA;
  opacity: 70%;
  width: 100%;
  height: 850px;
  top: 130px;
  left: 0px;
  z-index: 0;
}
.light-navy-bk{
  background-color: #55667d;  
}
.card3-status {
  margin-top: 45px;
  width: 80%;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
}
/********** Regestration ************/
.reg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 415px;
  width: 40%;
  font-size: 2rem;
  border-radius: 20px;
}
.reg-std-info {
  display: flex;
  flex-direction: row;
  /* gap: 123px; */
  align-items: center;
  justify-content: flex-start;
  gap: 275px;
  padding-left: 30px;
}
.reg-std-info-comp{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 1.4rem;
}
.reg-std-btn-comp{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
}
.reg-std-cont{
  display: flex;
  flex-direction: row;
  gap: 450px;
  width: 960px;
}
.reg-modal-bk {
  position: absolute;
  background-color: #CBD6DA;
  opacity: 70%;
  width: 100%;
  height: 145%;
  top: 130px;
  left: 0px;
  z-index: 0;
}
.reg-apply-box {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 1;
  top: 250px;
  border-radius: 45px;
  margin-left: 250px;
}
.reg-add-std-box {
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: white;
  z-index: 1;
  top: 250px;
  border-radius: 45px;
  margin-left: 445px;
}
.reg-add-std-box-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 105px;
}
.reg-add-std-box-comp svg {
  width: 35px;
  position: absolute;
  left: 590px;
  top: 40px;
}
.reg-upload-comp{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  gap: 70px;
}
.reg-upload-comp svg{
  width: 100px;
}
.reg-button-size {
  border: none;
  border-radius: 45px;
  padding-left: 35px;
  padding-right: 35px;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  font-size: 1.3rem;
  margin-left: 355px;
}
/************* Uni Super *************/
.uni-super-std-card {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.uni-super-std-btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 65px;
}
.uni-super-signature-cont {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: center;
  gap: 55px;
  align-items: center;
}
.uni-super-upload-sign-box {
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: white;
  z-index: 1;
  top: 250px;
  border-radius: 45px;
}